{% extends "SiteBlogBundle::layout.html.twig" %}

{% block title %}
	Supprimer une annonce - {{ parent() }}
{% endblock %}

{% block siteblog_body %}

	<h2>Supprimer une annonce</h2>

	<p>
		Etes-vous certain de vouloir supprimer l'annonce "{{ advert.title }}" ?
	</p>

	<form action="{{ path('site_blog_delete', {'id': advert.id}) }}" method="post">
		<a href="{{ path('site_blog_view', {'id': advert.id}) }}" class="btn btn-default">
			<i class="glyphicon glyphicon-chevron-left"></i>
			Retour à l'annonce
		</a>
		<input type="submit" value="Supprimer" class="btn btn-danger" />
		{# Ceci va générer le champ CSRF #}
		{{ form_rest(form) }}
	</form>

{% endblock %}